.hide{
    display: none;
}
.hidden{
   display: hidden;
    visibility: hidden;
}
.branches .dz-remove{
    display: none !important;
    }

    .branches li{
        list-style-type: none !important;
    }
